@font-face {
  font-family: 'Lack';
  src: url('../fonts/Lack-Regular.eot');
  src: url('../fonts/Lack-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lack-Regular.woff2') format('woff2'),
    url('../fonts/Lack-Regular.woff') format('woff'),
    url('../fonts/Lack-Regular.ttf') format('truetype'),
    url('../fonts/Lack-Regular.svg#Lack-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-UI';
  src: url('../fonts/Inter-UI-Regular.otf');
}

.text-inter-UI {
  font-family: 'Inter-UI';
}

.position-inner {
  height: 100vh;
}

.text-lack {
  font-family: 'Lack';
}

.color-darkblue {
  color: rgb(17, 63, 74);
}

.text-title {
  font-size: 72px;
}

.text-subtitle {
  font-size: 36px;
  font-weight: 400;
}

.logo-vahogo {
  width: 55rem;
}

@media (max-width: 768px) {
  .text-title {
    font-size: 40px;
  }

  .text-subtitle {
    font-size: 20px;
  }
}