@font-face {
    font-family: 'Lack';
    src: url('Lack-Regular.eot');
    src: url('Lack-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lack-Regular.woff2') format('woff2'),
        url('Lack-Regular.woff') format('woff'),
        url('Lack-Regular.ttf') format('truetype'),
        url('Lack-Regular.svg#Lack-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

